body{
    background-color: palegoldenrod;
  }
    *{
        margin: 0;
        padding: 0;
        
    }
    .main{
      margin: 13%;
    }
     .container {
        background: rgb(197, 227, 138);
        max-width: 398px;
        margin: auto;
        padding: 35px;
        height: 100%;
        width: 100%;
      box-shadow: 15px 15px rgb(205, 126, 126);

        
        border-radius: 20px;
    }
    #h1{
        text-align: center;
        margin: 6px;
        
    
    }
    .button{
        text-align: center;
    
    }
    #button{
        border: 2px solid black;
        border-radius: 9px;
        padding: 2px;
        background: #90b1d3;
     }
     #button:hover{
        background: #007bff;
     }
    #degree{
      border: 2px solid black;
      border-radius: 9px;
      padding: 2px;
     }
     #input{
        border: 2px solid black;
        border-radius: 9px;
        padding: 2px;
     }
     #result{
        border: 2px solid black;
        border-radius: 9px;
        padding: 2px;
     }
